<div class="row">
  <div class="col-sm-12 pt-5">

    <div id="chat-body-wrapper">

      <!-- <div class="chat-msg-wrapper chat-msg-wrapper-own">
        <div class="chat-msg-head">
          <span class="chat-msg-date">00:00:00</span>
          <a class="chat-msg-nick" data-nick-name="@nickname" onclick="prependNickName( '@nickname' )">@nickname</a> 
        </div>
        <div class="chat-msg-body">
          @nickname Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        </div>
        <div class="chat-msg-body chat-msg-body-info">
          <span class="gray">Track</span>: <span class="blue">uk_silverstone_gp</span>, <span class="gray">Car</span>: <span class="blue">ferrari_f388_gt3</span>
        </div>
      </div> -->

    </div>

    <div id="chat-footer-wrapper">
      <div class="input-group mb-2 mr-sm-2">
        <input type="text" class="form-control" id="msg-input" placeholder="Message ...">
        <div class="input-group-btn">
          <button class="btn btn-primary" id="send-msg-btn">Send</button>
        </div>
      </div>
    </div>

  </div>
</div>
