<div class="row">
  <div class="col-sm-12">
    <div>
      <canvas class="main-telemetry-canvas" id="Speed-canvas"></canvas>
      <canvas class="main-telemetry-canvas" id="Gear-canvas"></canvas>
      <canvas class="main-telemetry-canvas" id="RPM-canvas"></canvas>
      <canvas class="main-telemetry-canvas" id="Gas-canvas"></canvas>
      <canvas class="main-telemetry-canvas" id="Brake-canvas"></canvas>
    </div>
  </div>
</div>

<script type="text/javascript">
  


</script>


<style type="text/css">

.main-telemetry-canvas{
  display: block; 
  margin-left: 5px;
  margin-bottom: 5px;
}

</style>
