<div class="row">
  <div class="col-sm-12">

    <div class="card bg-light mb-10">
      <div class="card-header">

        <div class="text-center"  style="display: inline-block;">
          <h5 class="card-title" style="display: inline-block;">
            <button type="button" class="btn">
              <span id="ABS-wrapper-value" class="badge badge-success-DEL badge-danger settings">ABS</span>
            </button>
          </h5>
          <h5 class="card-title" style="display: inline-block;">
            <button type="button" class="btn">
              <span id="TCS-wrapper-value" class="badge badge-success-DEL badge-danger settings">TCS</span>
            </button>
          </h5>
          <h5 class="card-title" style="display: inline-block;">
            <button type="button" class="btn">
              <span id="ELIM-wrapper-value" class="badge badge-success-DEL badge-danger settings">ELIM</span>
            </button>
          </h5>

        </div>

        <button type="button" class="btn btn-primary">
          <span id="gear-wrapper-value" class="badge badge-light">0</span>
        </button>

        <h5 class="card-title" style="display: inline-block;">
          <div id="speed-wrapper-value"> 0.00 </div>
        </h5>

      </div>

      <div class="card-body">
        <!-- <p class="card-text"> <hr/> </p> -->
        <p class="card-text text-center">
          <!-- <div id="rpm-wrapper-value">{{rpm}}</div> -->
          <div id="rpm-wrapper">
            <div id="rpm-wrapper-value">{{rpm}}</div>
            <div id="rpm-wrapper-bar-value" style="width: 0%;"></div>
          </div>
        </p>

        <div class="row">

          <!-- <div class="col-sm-3">
            <canvas id="my-canvas-0"></canvas>
          </div> -->
          <div class="col-sm-9-DEL col-sm-12">
            <table id="time-table" style="width: 100%;">
              <thead>
                <tr>
                  <th>Lap</th> <th>Driver</th> <th>Car</th> <th>Time</th> <th>Diff.</th> <th>Avg speed</th>
                </tr>
              </thead>
              <tbody id="time-table-body" style="height: 300px; overflow-y: scroll;">
                
              </tbody>
            </table>            
          </div>
        </div> 

      </div>
    </div>

  </div>
</div>
